.login-estilo{
    & .card{
        & .card-header{
            background-color: $buttonC1;
            color: $bgtext1;
        }
    }
    .btn{
        background-color: $buttonC1 ;
        color: $bgtext1  ;
        font-weight: bold;
    }
}