// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Main
$buttonC1:#2f88cc;
$bgc1: #fffffe;
$parrafc1: #5f6c7b;
$menuc1:#094067;
$bgtext1:rgb(255, 255, 255);

//sections blue:
$bgc2: #d8eefe;
$bgcard2:#fffffe;
$title:#094067;

