.buton-voto{
    & label.btn-outline-danger{
        padding: 6px;
        font-size: 10px;
        font-weight: bold;
    }
    & label.btn-outline-success{
        padding: 6px 9px;
        font-size: 10px;
        font-weight: bold;
    }
}
.size-voto{
    & .btn-person-1{
        font-size: 15px;
    }
    & .card-person-1{
        & .form-group {
            margin-bottom: 5px;
            font-size: 12px;
        }
    } 
    & th{
        font-size: 13px !important; 
    }
}
